<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>[nombre]</h1>
    <h2>[apellidos]</h2>
    <h3>[correo]</h3>
    <script>
        fetch ("static/curriculum.json") //Anda y busca
        .then(function(respuesta){
            return respuesta.json(); //La info viene en json
        }
    )
        .then(function(datos){
            console.log(datos);         //Vamos a vomitar en consola
            document.querySelector("h1").textContent =datos.nombre
            document.querySelector("h2").textContent =datos.apellidos
            document.querySelector("h3").textContent =datos.correo
        }
    )
    </script>
</body>
</html>



